@font-face {
    font-family: Gilroy Regular;
    src: url('/css/font/Gilroy-Regular.eot');
    src: url('/css/font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('/css/font/Gilroy-Regular.woff') format('woff'),
    url('/css/font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy Medium;
    src: url('/css/font/Gilroy-Medium.eot');
    src: url('/css/font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('/css/font/Gilroy-Medium.woff') format('woff'),
    url('/css/font/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy SemiBold;
    src: url('/css/font/Gilroy-SemiBold.eot');
    src: url('/css/font/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/css/font/Gilroy-SemiBold.woff') format('woff'),
    url('/css/font/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy UltraLight;
    src: url('/css/font/Gilroy-UltraLight.eot');
    src: url('/css/font/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('/css/font/Gilroy-UltraLight.woff') format('woff'),
    url('/css/font/Gilroy-UltraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body .top-menu{
    background: rgb(0,32,76);
    background: linear-gradient(90deg, rgba(0, 32, 76, 0.1) 0%, rgba(168, 72, 56, 0.1) 29.72%, rgba(9, 22, 40, 0.1) 89.54%, rgba(0, 32, 76, 0.1) 100%);
    color: #333;
}
body .top-menu a{
    color: #333;
}
body .top-menu a:hover{
    text-decoration: underline #333;!important;
    text-underline-offset: 10px;
}
body .top-menu a:active{
    text-decoration: underline #333!important;
    text-underline-offset: 10px;
}
body .top-menu a.disabled{
    color: grey;
}
body.main-page .top-menu{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    color: white;
}
body.main-page .top-menu a{
    color: white;
}
body.main-page .top-menu a.disabled{
    color: grey;
}
body.main-page .top-menu a:hover{
    text-decoration: underline #C5C5C5;!important;
    text-underline-offset: 10px;
}
body.main-page .top-menu a:active{
    text-decoration: underline #C5C5C5!important;
    text-underline-offset: 10px;
}
.SemiBold {
    font-family: Gilroy SemiBold, Arial, serif;
}
.Medium {
    font-family: Gilroy Medium, Arial, serif;
}
.UltraLight {
    font-family: Gilroy UltraLight, Arial, serif;
}
.lightGrey{
    color: #C5C5C5;
}

.card p {
    color:#181B1D;
}
.card a {
    color:#181B1D;
}
.card a:hover {
    color:grey;
}

.lineHeight{
    line-height: 1.5rem;
}
